.Entry {
	width: 100%;
	overflow: hidden;
	user-select: none;
}

.Entry-bar {
	display: flex;
	max-width: 100%;
	padding: 0 .5rem;
}

.Entry-control,
.Entry-action {
	padding: .5rem .5rem;
}

.Entry-name {
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 250ms ease;
	cursor: pointer;
	padding: .5rem 0;
}
.Entry-name:hover {
	color: var(--interactive);
}

.Entry-control > :not(:last-child),
.Entry-action > :not(:last-child) {
	margin-right: 1rem;
}

.Entry-content {
	flex-direction: column;
	padding: 0 .5rem;
	padding-bottom: 1rem
}

.Entry-value {
	width: 100%;
	display: block;
	user-select: initial;
}

.Entry-input {
	display: block;
	border: none;
	padding: 0;
	width: 100%;
	font-size: inherit;
	line-height: inherit;
	box-shadow: inset 0 -1px 0 0 var(--interactive);
	font-style: italic;
	user-select: initial;
}
.Entry-input:focus {
	color: var(--interactive);
	outline: none;
}


/* Initial state */

.Entry-control {
	display: none;
}

.Entry-action {
	display: flex;
}

.Entry-content {
	display: none;
}

.Entry-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
	pointer-events: none;

}

/* Expand state */

.Entry.expand .Entry-content{
	color: var(--dim);
}

@keyframes entry-reveal {
	0% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 1;
		display: block;
	}
}

.Entry.expand .Entry-content {
	display: block;
	animation: entry-reveal 500ms ease both;
}


/* Edit state */

.Entry.edit .Entry-control {
	display: flex;
}

.Entry.edit .Entry-action {
	display: none;
}

.Entry.edit .Entry-name,
.Entry.edit .Entry-value {
	display: none;
}

.Entry.edit .Entry-input {
	display: block;
	opacity: 1;
	z-index: 0;
	position: static;
	pointer-events: initial;
}
