.Button {
	appearance: none;
	border: unset;
	font-size: inherit;
	line-height: inherit;
	padding: 0 1rem;
	color: var(--interactive);
	background-color: var(--button);
	/* background-image: radial-gradient(ellipse farthest-corner, var(--button), var(--bar)); */
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
	transition-property: box-shadow, color, transform;
	transition-duration: 200ms;
	transition-timing-function: ease;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.15);
}
.Button.isHidden {
	display:  none;
}
.Button:hover {
	box-shadow: 0 0 1px 1px rgba(0,0,0,.1), inset 0 -1px 0 0 rgba(0,0,0,.15);
}
.Button:active {
	transform: translateY(2px);
}

.Button.asMain {
	background-color: var(--interactive);
	background-image: unset;
	color: var(--white);
}

.Button.asWarning {
	color: var(--warning);
}
.Button.isDisabled {
	pointer-events: none;
	background-color: var(--button);
	color: var(--dim);
}
