.List {
	display: block;
}

.List-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
.List-title {
	font-size: 200%;
	line-height: 200%;
	margin-right: 1rem;
}

.List-data {
	overflow: hidden;
	position: relative;
	border-radius: .5rem;
	box-shadow: inset 0 0 0 1px var(--bar);
}

.List-bar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--bar);
	position: sticky;
	top: 0;
}

.List-control {
	padding: 0 .5rem;
	display: flex;
	min-height: 2px;
}

.List-control > * {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.List-control > :not(:last-child) {
	margin-right: 1rem;
}
.List-control > :last-child {
	margin-left: auto;
}

.List-separator {
	flex: auto;
	margin: 0;
}

.List-content {
	overflow-x: hidden;
	overflow-y: auto;
}

@keyframes list-item-add {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	67% {
		transform: scaleY(1);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}

.List-item {
	display: flex;
	box-shadow: inset 0 -1px 0 0 var(--bar);
	animation: list-item-add 500ms ease both;
}

.List-entry {
	flex: auto;
	display: flex;
}

