.Checkbox {
	display: flex;
	padding: .5rem .5rem;
	user-select: none;
}

.Checkbox-input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.Checkbox-icon {
	width: 1rem;
	min-width: 1rem;
	height: 1rem;
	margin: .5rem;
	margin-right: 0;
	position: relative;
	color: var(--interactive);
	background-color: var(--white);
	border-radius: 4px;
	transition: box-shadow 200ms ease;
	box-shadow: inset 0 0 0 2px var(--bar);
}

.Checkbox-trigger:hover .Checkbox-icon{
	box-shadow: inset 0 0 0 2px var(--interactive);
}

.Checkbox-icon::after {
	content: '';
	position: absolute;
	width: 25%;
	height: 50%;
	left: 30%;
	bottom: 30%;
	border-right: solid;
	border-bottom: solid;
	border-width: 2px;
	border-color: var(--white);
	transform: rotate(45deg);
}
.Checkbox-input:checked + .Checkbox-icon {
	box-shadow: inset 0 0 0 .6rem var(--interactive);
}
